* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* padding: 30px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #202124;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;


}

.top-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px 20px 10px 20px;

}

.top-navbar-sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px
}

.logo-con {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.logo {
    /* color: #fbbc04; */
    color: #e91e63;
    font-size: 30px;
    padding: 5px;
    border-radius: 50%;
    border-color: #e4e9e9;
    border-style: solid;
    border-width: thin;
}

.logo-head {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: cursive;
    font-size: 30px;
    padding-top: 0px;
    padding-bottom: 0;
    margin: 0;
}

.top-nav-input-con {
    /* background-color: #202124; */
    background-color: #525355;
    border: 0;
    height: 45px;
    width: 650px;
    color: #e4e9e9;
    padding: 10px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-nav-input {
    background-color: transparent;
    border: 0;
    outline: none;
    flex: 1;
    color: #e4e9e9;
    font-size: 17px;
}

.top-nav-search-button {
    background-color: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
}

.top-nav-search-button:hover {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #5d5e61;
    padding: 7px;
}

.top-nav-search-icon {
    font-size: 30px;
    color: #e4e9e9;
}

hr {
    padding-top: 0;
    height: 1px;
    border: none;
    background-color: #525355;
}

.buttons-con {
    display: flex;
    gap: 40px
}

.l-s-button {
    background-color: #e91e63;
    color: #fff;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px
}

.sidebar {
    width: 15vw;
}

.sidebar-links-con {
    padding: 0;
    margin-left: 0;
    color: #e4e9e9;
}

.sidebar-links a {
    text-decoration: none;
    font-size: 20px;
    color: #e4e9e9;
}

.sidebar-links {
    background-color: #202124;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 25px;

}
.content-con{
    display: flex;
    flex-direction: column;
}
.note-input{
    color: #525355;
    border: 1px solid #525355;
    height: 45px;
    width: 450px;
    background-color: transparent;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    padding: 10px 20px;
    
}
.active {
    background-color: #83192b;
    transition: background-color 0.3s ease;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.section {
    display: none;
}
.active-section {
    display: block;
}

.side-main-con {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px
}

ion-icon {
    font-size: 24px;
}